@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body {
  font-weight: 600;
}

html {
  overflow-x: hidden;
}